<a href="https://colab.research.google.com/github/Lakshay011235/LearningModels/blob/main/Learning_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <font size="6">↦</font> **Import** the pandas library as pd (standard convention).

In [ ]:
import pandas as pd

# DataFrame


---
---

A DataFrame is a table. It contains an array of individual entries, each of which has a certain value. Each entry corresponds to a row (or record) and a column.

In [ ]:
pd.DataFrame({"Yes" : [50, 21], "No" : [131, 2]})

   Yes   No
0   50  131
1   21    2

In this example, the "0, No" entry has the value of 131. The "0, Yes" entry has a value of 50, and so on.
<br><br>
DataFrame entries are not limited to integers. For instance, here's a DataFrame whose values are strings. 

The dictionary-list constructor assigns values to the column labels, but just uses an ascending count from 0 (0, 1, 2, 3, ...) for the row labels. Sometimes this is OK, but oftentimes we will want to assign these labels ourselves.

The list of row labels used in a DataFrame is known as an *index*. We can assign values to it by using an index parameter in our constructor:

In [ ]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

#Series

---
---

A Series, by contrast, is a sequence of data values. If a DataFrame is a table, a Series is a list. And in fact you can create one with nothing more than a list:

In [ ]:
pd.Series([1,1,2,3,5,8])

0    1
1    1
2    2
3    3
4    5
5    8
dtype: int64

A Series is, in essence, a single column of a DataFrame. So you can assign row labels to the Series the same way as before, using an index parameter. However, a Series does not have a column name, it only has one overall name:

In [ ]:
pd.Series([30, 35, 40], 
          index=['2015 Sales', '2016 Sales', '2017 Sales'], 
          name='Product A')     # Single column of DataFrame

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

#Reading data files

---
---

Being able to create a DataFrame or Series by hand is handy. But, most of the time, we won't actually be creating our own data by hand. Instead, we'll be working with data that already exists.
<br><br>


---
##CSV

Data can be stored in any of a number of different forms and formats. By far the most basic of these is the humble CSV file. When you open a CSV file you get something that looks like this:

`Product A,Product B,Product C,30,21,9,35,34,1,41,11,11`

So a CSV file is a table of values separated by commas. Hence the name: "Comma-Separated Values", or CSV.

Let's now set aside our toy datasets and see what a real dataset looks like when we read it into a DataFrame. We'll use the <tt><strong>pd.read_csv()</strong></tt> function to read the data into a DataFrame. This goes thusly:

In [ ]:
housing_data = pd.read_csv("sample_data/california_housing_train.csv")

In [ ]:
housing_data.shape          # Structure of DataFrame

(17000, 9)

In [ ]:
housing_data.head()         # Return the first n rows. Default: n = 5.

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

####Custom or Predefined Index

In [ ]:
housing_data = pd.read_csv("sample_data/california_housing_train.csv", index_col=0)
housing_data.head()

,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
longitude,,,,,,,,
-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [ ]:
pd.DataFrame({"Apples" : [30], "Bananas" : [21]})

   Apples  Bananas
0      30       21

####Saving Files

In [ ]:
fruits = pd.DataFrame({"Apples":[10,23,56], "Bananas":[46,89,145]},index=["Farm1","Farm2","Farm3"])
fruits.to_csv("fruits.csv")

#Accessing

---
---
Selecting specific values of a pandas DataFrame or Series to work on is an implicit step in almost any data operation. You need to learn in working with data in Python is how to go about selecting the data points relevant to you quickly and effectively.

<br>

---
##Naive Objects

In Python, we can access the property of an object by accessing it as an attribute. A book object, for example, might have a title property, which we can access by calling book.title. Columns in a pandas DataFrame work in much the same way.

In [ ]:
housing_data = pd.read_csv("sample_data/california_housing_train.csv")
housing_data.total_rooms

0        5612.0
1        7650.0
2         720.0
3        1501.0
4        1454.0
          ...
16995    2217.0
16996    2349.0
16997    2677.0
16998    2672.0
16999    1820.0
Name: total_rooms, Length: 17000, dtype: float64

In [ ]:
housing_data["total_rooms"][0]

5612.0

---
##Indexing

The indexing operator and attribute selection are nice because they work just like they do in the rest of the Python ecosystem. As a novice, this makes them easy to pick up and use. However, pandas has its own accessor operators, loc and iloc.

####Index-based selection
Pandas indexing works in one of two paradigms. The first is index-based selection: **selecting data based on its numerical position in the data**. iloc follows this paradigm.

To select the first row of data in a DataFrame, we may use the following:

In [ ]:
housing_data.iloc[0]

longitude              -114.3100
latitude                 34.1900
housing_median_age       15.0000
total_rooms            5612.0000
total_bedrooms         1283.0000
population             1015.0000
households              472.0000
median_income             1.4936
median_house_value    66900.0000
Name: 0, dtype: float64

Both loc and iloc are row-first, column-second. This is the **opposite** of what we do in native Python, which is column-first, row-second.

This means that it's marginally easier to retrieve rows, and marginally harder to get retrieve columns. To get a column with iloc, we can do the following:

In [ ]:
housing_data.iloc[:, 0]

0       -114.31
1       -114.47
2       -114.56
3       -114.57
4       -114.57
          ...
16995   -124.26
16996   -124.27
16997   -124.30
16998   -124.30
16999   -124.35
Name: longitude, Length: 17000, dtype: float64

On its own, the : operator, which also comes from native Python, means "everything". When combined with other selectors, however, it can be used to indicate a range of values. For example, to select the households column from just the first, second, and third row, we would do:

In [ ]:
housing_data.iloc[:3, 6]

0    472.0
1    463.0
2    117.0
Name: households, dtype: float64

In [ ]:
housing_data.iloc[-2:]          #last 2 rows

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

####Label-based selection
The second paradigm for attribute selection is the one followed by the loc operator: label-based selection. In this paradigm, it's the data index value, not its position, which matters.

For example, to get the first entry in DataFrame, we would now do the following:

In [ ]:
housing_data.loc[0, "households"]

472.0

In [ ]:
housing_data.loc[:, ["longitude","latitude","households"]]

       longitude  latitude  households
0        -114.31     34.19       472.0
1        -114.47     34.40       463.0
2        -114.56     33.69       117.0
3        -114.57     33.64       226.0
4        -114.57     33.57       262.0
...          ...       ...         ...
16995    -124.26     40.58       369.0
16996    -124.27     40.69       465.0
16997    -124.30     41.84       456.0
16998    -124.30     41.80       478.0
16999    -124.35     40.54       270.0

[17000 rows x 3 columns]

iloc uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded. So 0:10 will select entries 0,...,9. loc, meanwhile, indexes inclusively. So 0:10 will select entries 0,...,10.

In [ ]:
housing_data.loc[0:2, "households"]

0    472.0
1    463.0
2    117.0
Name: households, dtype: float64

In [ ]:
housing_data.iloc[0:2, 6]

0    472.0
1    463.0
Name: households, dtype: float64

####Manipulating the index

Label-based selection derives its power from the labels in the index. Critically, the index we use is not immutable. We can manipulate the index in any way we see fit.

The **set_index()** method can be used to do the job. Here is what happens when we set_index to the households field:

In [ ]:
housing_data.set_index("households")

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,median_income,median_house_value
households,,,,,,,,
472.0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,1.4936,66900.0
463.0,-114.47,34.40,19.0,7650.0,1901.0,1129.0,1.8200,80100.0
117.0,-114.56,33.69,17.0,720.0,174.0,333.0,1.6509,85700.0
226.0,-114.57,33.64,14.0,1501.0,337.0,515.0,3.1917,73400.0
262.0,-114.57,33.57,20.0,1454.0,326.0,624.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...
369.0,-124.26,40.58,52.0,2217.0,394.0,907.0,2.3571,111400.0
465.0,-124.27,40.69,36.0,2349.0,528.0,1194.0,2.5179,79000.0
456.0,-124.30,41.84,17.0,2677.0,531.0,1244.0,3.0313,103600.0
478.0,-124.30,41.80,19.0,2672.0,552.0,1298.0,1.9797,85800.0
270.0,-124.35,40.54,52.0,1820.0,300.0,806.0,3.0147,94600.0

---
##Conditional selection
So far we've been indexing various strides of data, using structural properties of the DataFrame itself. To do interesting things with the data, however, we often need to ask questions based on conditions.

In [ ]:
housing_data = pd.read_csv("sample_data/california_housing_train.csv")
housing_data.total_rooms >= 7000

0        False
1         True
2        False
3        False
4        False
         ...
16995    False
16996    False
16997    False
16998    False
16999    False
Name: total_rooms, Length: 17000, dtype: bool

This operation produced a Series of True/False booleans based on the total rooms of each record. This result can then be used inside of loc to select the relevant data:

In [ ]:
housing_data.loc[housing_data.total_rooms >= 7000]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
133,-116.06,34.15,15.0,10377.0,2331.0,4507.0,1807.0,2.2466,66800.0
135,-116.09,34.15,13.0,9444.0,1997.0,4166.0,1482.0,2.6111,65600.0
168,-116.24,33.71,10.0,9033.0,2224.0,5525.0,1845.0,2.7598,95000.0
172,-116.26,33.65,3.0,7437.0,1222.0,574.0,302.0,10.2948,382400.0
...,...,...,...,...,...,...,...,...,...
16467,-122.61,37.99,40.0,7737.0,1488.0,3108.0,1349.0,4.4375,289600.0
16474,-122.62,38.40,10.0,9772.0,1308.0,3741.0,1242.0,6.5261,324700.0
16490,-122.63,38.26,7.0,7808.0,1390.0,3551.0,1392.0,4.6069,202300.0
16546,-122.67,38.33,4.0,8072.0,1606.0,4323.0,1475.0,3.9518,220300.0
16619,-122.72,38.58,4.0,7042.0,1100.0,2936.0,1043.0,5.0555,240800.0

We can use the 

{ & = AND } 

{ | = OR } 

to bring the two questions together:

In [ ]:
housing_data.loc[(housing_data.total_rooms >= 7000) & (housing_data.median_house_value >= 300000)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
172,-116.26,33.65,3.0,7437.0,1222.0,574.0,302.0,10.2948,382400.0
187,-116.33,33.72,11.0,12327.0,2000.0,2450.0,1139.0,7.4382,353100.0
193,-116.37,33.69,7.0,8806.0,1542.0,858.0,448.0,7.8005,318100.0
210,-116.42,33.76,14.0,16921.0,2837.0,2524.0,1262.0,7.6281,341700.0
647,-117.04,32.99,6.0,9518.0,1418.0,4413.0,1275.0,6.6012,314900.0
...,...,...,...,...,...,...,...,...,...
16153,-122.47,37.89,23.0,10774.0,1736.0,3895.0,1683.0,7.2905,500001.0
16306,-122.50,37.91,31.0,7001.0,1282.0,2755.0,1267.0,5.4851,441100.0
16429,-122.57,38.02,33.0,9531.0,1487.0,3798.0,1409.0,5.6512,314000.0
16454,-122.60,38.11,23.0,8642.0,1294.0,3594.0,1253.0,5.3962,301500.0
16474,-122.62,38.40,10.0,9772.0,1308.0,3741.0,1242.0,6.5261,324700.0

In [ ]:
housing_data.loc[(housing_data.total_rooms >= 7000) | (housing_data.median_house_value <= 100000)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16992,-124.23,40.81,52.0,1112.0,209.0,544.0,172.0,3.3462,50800.0
16994,-124.25,40.28,32.0,1430.0,419.0,434.0,187.0,1.9417,76100.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

Pandas comes with a few built-in conditional selectors.
<br><br>
The first is **isin**. isin is lets you select data whose value "is in" a list of values. 
<br><br>
<tt>== ∀𝑥</tt>

In [ ]:
housing_data.loc[housing_data.housing_median_age.isin([15.0,16.0])]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
10,-114.60,33.62,16.0,3741.0,801.0,2434.0,824.0,2.6797,86500.0
14,-114.63,32.76,15.0,1448.0,378.0,949.0,300.0,0.8585,45000.0
23,-114.98,33.82,15.0,644.0,129.0,137.0,52.0,3.2097,71300.0
32,-115.39,32.76,16.0,1136.0,196.0,481.0,185.0,6.2558,146300.0
...,...,...,...,...,...,...,...,...,...
16871,-123.75,39.37,16.0,1377.0,296.0,830.0,279.0,3.2500,151400.0
16876,-123.79,39.44,16.0,2017.0,423.0,1177.0,414.0,3.2171,116200.0
16894,-124.00,40.22,16.0,2088.0,535.0,816.0,326.0,1.3190,70700.0
16957,-124.16,41.74,15.0,2715.0,569.0,1532.0,530.0,2.1829,69500.0
16983,-124.19,41.78,15.0,3140.0,714.0,1645.0,640.0,1.6654,74600.0

The second is isnull (and its companion notnull). These methods let you highlight values which are (or are not) empty (NaN).

In [ ]:
housing_data.loc[housing_data.median_house_value.isnull()]

Empty DataFrame
Columns: [longitude, latitude, housing_median_age, total_rooms, total_bedrooms, population, households, median_income, median_house_value]
Index: []

In [ ]:
housing_data.loc[housing_data.median_house_value.notnull()]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

#Assigning

---
---

Going the other way, assigning data to a DataFrame is easy. You can assign either a constant value:

In [ ]:
housing_data["condition"] = "Good"
housing_data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,condition
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,Good
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,Good
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,Good
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0,Good
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0,Good
...,...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0,Good
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0,Good
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0,Good
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0,Good
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0,Good

Or with an iterable of values:

In [ ]:
housing_data["reversed_index"] = range(len(housing_data),0,-1)
housing_data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,condition,reversed_index
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,Good,17000
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,Good,16999
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,Good,16998
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0,Good,16997
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0,Good,16996
...,...,...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0,Good,5
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0,Good,4
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0,Good,3
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0,Good,2
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0,Good,1

#Summary functions

---
---

Pandas provides many simple "summary functions" (not an official name) which restructure the data in some useful way. For example, consider the **describe()** method:

In [ ]:
housing_data.describe()     #for DataFrame

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,reversed_index
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353,8500.500000
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387,4907.621624
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000,1.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000,4250.750000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000,8500.500000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000,12750.250000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000,17000.000000

In [ ]:
housing_data.condition.describe()    #for series (changes for data types too)

count     17000
unique        1
top        Good
freq      17000
Name: condition, dtype: object

In [ ]:
housing_data.latitude.describe()

count    17000.000000
mean        35.625225
std          2.137340
min         32.540000
25%         33.930000
50%         34.250000
75%         37.720000
max         41.950000
Name: latitude, dtype: float64

Mean of Series

In [ ]:
housing_data.latitude.mean()

35.62522470588235

Unique Values in Series

In [ ]:
housing_data.housing_median_age.unique()

array([15., 19., 17., 14., 20., 29., 25., 41., 34., 46., 16., 21., 48.,
       31., 28., 24., 18., 30., 32., 23., 38., 35., 33., 13., 11., 10.,
        6., 12., 27., 22.,  5.,  8., 37.,  3., 44.,  2., 26.,  9.,  7.,
       36.,  4., 52., 40., 43., 42., 39., 49., 47., 50., 45., 51.,  1.])

Unique Values and their counts as series of a Series

In [ ]:
housing_data.housing_median_age.value_counts()

52.0    1052
36.0     715
35.0     692
16.0     635
17.0     576
34.0     567
33.0     513
26.0     503
18.0     478
25.0     461
32.0     458
37.0     437
15.0     416
19.0     412
28.0     400
27.0     397
24.0     389
31.0     384
30.0     384
20.0     383
23.0     382
29.0     374
21.0     373
14.0     347
22.0     323
38.0     318
42.0     308
39.0     302
44.0     296
43.0     286
13.0     249
40.0     249
45.0     235
41.0     232
10.0     226
11.0     208
5.0      199
46.0     196
12.0     192
8.0      178
47.0     175
9.0      172
4.0      161
7.0      151
48.0     135
6.0      129
50.0     112
49.0     111
2.0       49
3.0       46
51.0      32
1.0        2
Name: housing_median_age, dtype: int64

#Maps


---
---
A map is a term, borrowed from mathematics, for a function that takes one set of values and "maps" them to another set of values. In data science we often have a need for creating new representations from existing data, or for transforming data from the format it is in now to the format that we want it to be in later. Maps are what handle this work, making them extremely important for getting your work done!

---

There are two mapping methods that you will use often.

**map()** is the first, and slightly simpler one. For example:

In [ ]:
housing_data_housing_median_age_mean = housing_data.housing_median_age.mean()

# Mapping data to get absolute deviation from mean...       Returns a mapped series, NOT AFFECTING MAIN DATA
housing_data.housing_median_age.map(lambda p : p - housing_data_housing_median_age_mean)

0       -13.589353
1        -9.589353
2       -11.589353
3       -14.589353
4        -8.589353
           ...
16995    23.410647
16996     7.410647
16997   -11.589353
16998    -9.589353
16999    23.410647
Name: housing_median_age, Length: 17000, dtype: float64

The function you pass to map() should expect a single value from the Series (a point value, in the above example), and return a transformed version of that value. map() returns a new Series where all the values have been transformed by your function.

**apply()** is the equivalent method if we want to transform a whole DataFrame by calling a custom method on each row.

In [ ]:
def remean_points(row):       ##Takes effect on each row
    row.housing_median_age = row.housing_median_age - housing_data_housing_median_age_mean
    return row

# def conditional_show()
# def modify_data()
# def revise_data()
# def rating(row):
#     if:: return 5.......
housing_data.apply(remean_points, axis='columns')         # Returns a mapped DataFrame, NOT AFFECTING MAIN DATA

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,condition,reversed_index
0,-114.31,34.19,-13.589353,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,Good,17000
1,-114.47,34.40,-9.589353,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,Good,16999
2,-114.56,33.69,-11.589353,720.0,174.0,333.0,117.0,1.6509,85700.0,Good,16998
3,-114.57,33.64,-14.589353,1501.0,337.0,515.0,226.0,3.1917,73400.0,Good,16997
4,-114.57,33.57,-8.589353,1454.0,326.0,624.0,262.0,1.9250,65500.0,Good,16996
...,...,...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,23.410647,2217.0,394.0,907.0,369.0,2.3571,111400.0,Good,5
16996,-124.27,40.69,7.410647,2349.0,528.0,1194.0,465.0,2.5179,79000.0,Good,4
16997,-124.30,41.84,-11.589353,2677.0,531.0,1244.0,456.0,3.0313,103600.0,Good,3
16998,-124.30,41.80,-9.589353,2672.0,552.0,1298.0,478.0,1.9797,85800.0,Good,2
16999,-124.35,40.54,23.410647,1820.0,300.0,806.0,270.0,3.0147,94600.0,Good,1

---
**Basic Operators** works faster and in a same fashion as map() and apply() in pandas.

These operators are faster than map() or apply() because they use speed ups built into pandas. All of the standard Python operators (>, <, ==, and so on) work in this manner.

In [ ]:
housing_data.housing_median_age - housing_data_housing_median_age_mean

0       -13.589353
1        -9.589353
2       -11.589353
3       -14.589353
4        -8.589353
           ...
16995    23.410647
16996     7.410647
16997   -11.589353
16998    -9.589353
16999    23.410647
Name: housing_median_age, Length: 17000, dtype: float64

In [ ]:
housing_data.latitude.astype(str) + "\u00b0 N " + housing_data.longitude.astype(str) + "\u00b0 E"

0        34.19° N -114.31° E
1         34.4° N -114.47° E
2        33.69° N -114.56° E
3        33.64° N -114.57° E
4        33.57° N -114.57° E
                ...
16995    40.58° N -124.26° E
16996    40.69° N -124.27° E
16997     41.84° N -124.3° E
16998      41.8° N -124.3° E
16999    40.54° N -124.35° E
Length: 17000, dtype: object

#Groupwise analysis

---
---

refer to :: https://pandas.pydata.org/docs/reference/groupby.html

In [ ]:
housing_data = pd.read_csv("sample_data/california_housing_train.csv")
housing_data.groupby("housing_median_age").describe()

                   longitude                                                   \
                       count        mean       std     min       25%      50%
housing_median_age
1.0                      2.0 -121.465000  0.756604 -122.00 -121.7325 -121.465
2.0                     49.0 -119.035306  2.086532 -122.51 -121.3500 -117.760
3.0                     46.0 -118.798478  1.980720 -122.33 -121.0475 -117.780
4.0                    161.0 -118.805093  1.847526 -122.72 -120.4600 -117.760
5.0                    199.0 -118.789497  1.937639 -122.55 -121.0300 -117.890
6.0                    129.0 -118.915969  1.893689 -122.76 -121.0300 -118.160
7.0                    151.0 -119.165497  1.982453 -122.79 -121.2600 -118.460
8.0                    178.0 -119.375056  1.969668 -123.00 -121.2525 -119.215
9.0                    172.0 -119.324186  1.932799 -123.49 -121.1350 -119.020
10.0                   226.0 -119.350841  1.966870 -123.40 -121.2575 -119.045
11.0                   208.0 -119.517837  2.008043 -124.23 -121.3125 -119.665
12.0                   192.0 -119.405000  2.029160 -124.09 -121.3400 -119.150
13.0                   249.0 -119.406586  1.959151 -124.17 -121.2400 -119.120
14.0                   347.0 -119.510605  2.045823 -124.05 -121.3350 -119.560
15.0                   416.0 -119.471490  2.126938 -124.19 -121.5050 -119.280
16.0                   635.0 -119.530094  2.094814 -124.00 -121.7550 -119.080
17.0                   576.0 -119.597656  2.143916 -124.30 -121.7250 -119.315
18.0                   478.0 -119.640209  2.076978 -124.10 -121.7200 -119.305
19.0                   412.0 -119.541820  2.042815 -124.30 -121.5800 -119.190
20.0                   383.0 -119.862350  2.132411 -124.21 -121.8900 -119.760
21.0                   373.0 -119.560134  2.023540 -124.19 -121.6000 -119.080
22.0                   323.0 -119.598266  1.974017 -124.14 -121.6350 -119.180
23.0                   382.0 -119.590890  2.076365 -124.16 -121.7600 -118.945
24.0                   389.0 -119.344910  1.925299 -124.15 -121.4100 -118.460
25.0                   461.0 -119.426898  1.937591 -124.14 -121.5100 -118.460
26.0                   503.0 -119.477654  1.971470 -124.17 -121.7650 -118.500
27.0                   397.0 -119.708363  1.957695 -124.14 -121.7600 -119.050
28.0                   400.0 -119.568050  2.004950 -124.22 -121.8400 -118.490
29.0                   374.0 -119.360348  1.954722 -124.14 -121.4475 -118.440
30.0                   384.0 -119.499922  1.933400 -124.19 -121.6700 -118.430
31.0                   384.0 -119.412865  1.962201 -124.13 -121.4400 -118.420
32.0                   458.0 -119.465917  1.933148 -124.25 -121.4975 -118.425
33.0                   513.0 -119.394211  1.953711 -124.18 -121.5100 -118.390
34.0                   567.0 -119.195714  1.838514 -124.18 -121.2750 -118.350
35.0                   692.0 -119.233786  1.823856 -124.18 -121.2625 -118.350
36.0                   715.0 -119.232434  1.775785 -124.27 -121.3050 -118.310
37.0                   437.0 -119.464371  1.949705 -124.19 -121.7700 -118.340
38.0                   318.0 -119.334245  1.918090 -124.14 -121.4200 -118.360
39.0                   302.0 -119.621556  1.908547 -124.18 -121.9175 -118.395
40.0                   249.0 -119.576386  1.851377 -122.82 -121.6200 -118.370
41.0                   232.0 -119.390086  1.785995 -123.98 -121.3825 -118.390
42.0                   308.0 -119.480292  1.827079 -124.10 -121.4900 -118.355
43.0                   286.0 -119.689301  1.913316 -124.17 -121.8675 -118.410
44.0                   296.0 -119.460034  1.865856 -124.09 -121.6500 -118.340
45.0                   235.0 -119.668596  1.913955 -123.22 -122.1450 -118.380
46.0                   196.0 -119.877755  2.030780 -124.16 -122.1625 -118.470
47.0                   175.0 -119.985029  1.969042 -124.15 -122.1700 -118.480
48.0                   135.0 -119.837556  1.993466 -122.97 -122.1650 -118.450
49.0                   111.0 -120.374324  2.047430 -123.79 -122.2800 -121.230
50.0                   112.0 -120.077143  2.054972 -124.16 -122.2225 -119.505
51.0                    32.0 -120.593750  2.086961 -122.48 -122.2850 -122.075
52.0                  1052.0 -120.917253  1.961408 -124.35 -122.4100 -122.220

                                     latitude             ... median_income  \
                         75%     max    count       mean  ...           75%
housing_median_age                                        ...
1.0                -121.1975 -120.93      2.0  37.940000  ...      5.010200
2.0                -117.3300 -115.80     49.0  35.410816  ...      6.111200
3.0                -117.2550 -115.60     46.0  35.164783  ...      6.128600
4.0                -117.5400 -116.76    161.0  34.987764  ...      6.072200
5.0                -117.2300 -115.55    199.0  35.095327  ...      5.702000
6.0                -117.3200 -115.52    129.0  35.183798  ...      5.237500
7.0                -117.2950 -116.31    151.0  35.627616  ...      5.074650
8.0                -117.5050 -115.59    178.0  35.785899  ...      5.324325
9.0                -117.5625 -116.22    172.0  35.654942  ...      5.437150
10.0               -117.6000 -115.52    226.0  35.881681  ...      5.181925
11.0               -117.6325 -115.51    208.0  35.930288  ...      4.657175
12.0               -117.4950 -115.53    192.0  35.806458  ...      4.963500
13.0               -117.6900 -115.50    249.0  35.814819  ...      5.038900
14.0               -117.6250 -114.57    347.0  35.905159  ...      5.041800
15.0               -117.6475 -114.31    416.0  35.878341  ...      5.089475
16.0               -117.6650 -114.60    635.0  35.685748  ...      5.446950
17.0               -117.7275 -114.56    576.0  35.907882  ...      5.025550
18.0               -117.8825 -115.22    478.0  35.938054  ...      5.093075
19.0               -117.8600 -114.47    412.0  35.842597  ...      4.782175
20.0               -118.0150 -114.57    383.0  36.136449  ...      4.632800
21.0               -117.8900 -114.60    373.0  35.751635  ...      4.650000
22.0               -117.9650 -115.55    323.0  35.772879  ...      4.734400
23.0               -117.8825 -115.37    382.0  35.718115  ...      5.077525
24.0               -117.9000 -114.73    389.0  35.391054  ...      5.000000
25.0               -117.9600 -114.58    461.0  35.470108  ...      5.285200
26.0               -117.9150 -116.00    503.0  35.507038  ...      5.267450
27.0               -118.0300 -115.54    397.0  35.707128  ...      4.711000
28.0               -117.9800 -114.65    400.0  35.571075  ...      4.644000
29.0               -117.9600 -114.58    374.0  35.427968  ...      4.375000
30.0               -118.0400 -115.37    384.0  35.476120  ...      4.462775
31.0               -118.0175 -114.61    384.0  35.370990  ...      4.309400
32.0               -118.0225 -115.37    458.0  35.472664  ...      4.464600
33.0               -117.9500 -115.46    513.0  35.402378  ...      4.660700
34.0               -118.0050 -114.59    567.0  35.174603  ...      4.756650
35.0               -118.0100 -115.38    692.0  35.163627  ...      4.838775
36.0               -118.1000 -116.56    715.0  35.127972  ...      4.775250
37.0               -118.1100 -115.60    437.0  35.335378  ...      4.419600
38.0               -118.1200 -115.38    318.0  35.325472  ...      4.128450
39.0               -118.1900 -117.07    302.0  35.513146  ...      4.121875
40.0               -118.1900 -116.98    249.0  35.466265  ...      4.044600
41.0               -118.2000 -114.59    232.0  35.316983  ...      3.911450
42.0               -118.1900 -117.07    308.0  35.361169  ...      4.013025
43.0               -118.2100 -117.01    286.0  35.582587  ...      4.019875
44.0               -118.1800 -115.73    296.0  35.276351  ...      4.314225
45.0               -118.1850 -117.12    235.0  35.468979  ...      4.546200
46.0               -118.2600 -114.60    196.0  35.732194  ...      3.981700
47.0               -118.2700 -117.10    175.0  35.843943  ...      3.995200
48.0               -118.2850 -114.61    135.0  35.730222  ...      4.002500
49.0               -118.2900 -117.10    111.0  36.097748  ...      4.262500
50.0               -118.2700 -117.11    112.0  35.900893  ...      3.847775
51.0               -118.2925 -117.15     32.0  36.325937  ...      4.381250
52.0               -118.3500 -116.88   1052.0  36.634230  ...      4.540625

                            median_house_value                                \
                        max              count           mean            std
housing_median_age
1.0                  5.2636                2.0  190250.000000    1484.924240
2.0                 10.1531               49.0  229438.836735  118029.406620
3.0                 11.5199               46.0  239450.043478  108822.178826
4.0                 13.4883              161.0  230054.105590  107317.502612
5.0                 12.6320              199.0  211035.708543  109779.562049
6.0                 13.0502              129.0  206768.240310  104227.462308
7.0                 13.8093              151.0  188445.059603   97741.450307
8.0                 14.9009              178.0  190805.073034   98183.414798
9.0                 10.8289              172.0  190306.994186   97492.006264
10.0                12.5420              226.0  178416.393805   96205.687641
11.0                13.1477              208.0  182480.312500   97931.083043
12.0                10.0760              192.0  181590.640625   94345.428409
13.0                 9.8346              249.0  188065.473896   94188.280352
14.0                15.0001              347.0  191181.288184   96986.243165
15.0                15.0001              416.0  181031.024038   94908.428125
16.0                12.0088              635.0  200354.507087   98994.507672
17.0                15.0001              576.0  191772.244792  101836.425101
18.0                11.6017              478.0  192074.715481  107590.164086
19.0                15.0000              412.0  196017.752427  110465.017772
20.0                12.2092              383.0  192681.751958  111869.959953
21.0                11.6833              373.0  200918.536193  115759.422811
22.0                11.2463              323.0  213129.173375  121153.981159
23.0                12.9792              382.0  204621.787958  115965.729813
24.0                14.5833              389.0  207293.365039  111247.078793
25.0                13.3913              461.0  223097.223427  118750.787480
26.0                15.0001              503.0  206773.793241  112092.926462
27.0                15.0001              397.0  206728.259446  114236.712734
28.0                14.4113              400.0  210049.812500  119811.441221
29.0                13.9470              374.0  195185.863636  117739.536913
30.0                12.4429              384.0  201559.145833  112936.213780
31.0                15.0001              384.0  208319.851562  120693.635055
32.0                15.0001              458.0  207131.500000  121348.298305
33.0                15.0001              513.0  203922.269006  114256.560418
34.0                15.0001              567.0  213061.615520  122656.145392
35.0                15.0001              692.0  205624.462428  108101.766134
36.0                15.0001              715.0  208262.422378  106735.813804
37.0                13.3670              437.0  209008.299771  119736.766750
38.0                12.7823              318.0  195272.371069  120893.707372
39.0                11.8603              302.0  206718.913907  125389.522805
40.0                15.0001              249.0  205783.594378  123428.327920
41.0                 8.8619              232.0  197328.935345  125630.370118
42.0                15.0001              308.0  199635.110390  112547.856076
43.0                15.0001              286.0  194365.779720  116726.685274
44.0                12.4237              296.0  214909.506757  124080.375756
45.0                15.0001              235.0  223464.744681  116254.957305
46.0                15.0001              196.0  198036.260204  109881.865243
47.0                 9.4590              175.0  190064.611429  110788.506693
48.0                15.0001              135.0  224665.251852  138057.219438
49.0                12.9591              111.0  220667.612613  115402.562465
50.0                13.3036              112.0  222513.482143  131205.503471
51.0                 9.3694               32.0  244850.125000  140659.405750
52.0                15.0001             1052.0  277368.200570  139743.309230


                         min       25%       50%       75%       max
housing_median_age
1.0                 189200.0  189725.0  190250.0  190775.0  191300.0
2.0                  47500.0  146300.0  191700.0  279000.0  500001.0
3.0                  83200.0  159225.0  216400.0  283225.0  500001.0
4.0                  42500.0  149200.0  198900.0  282500.0  500001.0
5.0                  50000.0  132350.0  176900.0  263750.0  500001.0
6.0                  58000.0  131000.0  177500.0  258100.0  500001.0
7.0                  56200.0  121950.0  162200.0  219950.0  500001.0
8.0                  22500.0  120600.0  162500.0  248775.0  500001.0
9.0                  54200.0  124775.0  162600.0  227825.0  500001.0
10.0                 53300.0  112625.0  152100.0  220100.0  500001.0
11.0                 50400.0  114450.0  160250.0  225675.0  500001.0
12.0                 40000.0  112575.0  156700.0  228075.0  500001.0
13.0                 43000.0  116100.0  162500.0  237900.0  500001.0
14.0                 32900.0  121050.0  170100.0  240350.0  500001.0
15.0                 32500.0  111550.0  161300.0  228300.0  500001.0
16.0                 14999.0  128300.0  179500.0  261250.0  500001.0
17.0                 27500.0  117375.0  166450.0  242175.0  500001.0
18.0                 47500.0  109175.0  166200.0  255000.0  500001.0
19.0                 14999.0  111900.0  173450.0  255250.0  500001.0
20.0                 32500.0  105100.0  164600.0  247550.0  500001.0
21.0                 25000.0  111500.0  174100.0  268100.0  500001.0
22.0                 34400.0  120800.0  186900.0  276350.0  500001.0
23.0                 30000.0  112800.0  184550.0  259250.0  500001.0
24.0                 32500.0  118800.0  189500.0  265200.0  500001.0
25.0                 45500.0  132700.0  209900.0  278100.0  500001.0
26.0                 36600.0  122150.0  188000.0  260800.0  500001.0
27.0                 40000.0  118800.0  184200.0  267700.0  500001.0
28.0                 40900.0  119600.0  187450.0  269075.0  500001.0
29.0                 28300.0  102275.0  169550.0  248700.0  500001.0
30.0                 42500.0  120475.0  171550.0  254050.0  500001.0
31.0                 34200.0  120350.0  183850.0  267225.0  500001.0
32.0                 43100.0  113725.0  181600.0  260850.0  500001.0
33.0                 22500.0  125000.0  175000.0  255600.0  500001.0
34.0                 26600.0  125250.0  185800.0  258050.0  500001.0
35.0                 39600.0  133850.0  184250.0  254750.0  500001.0
36.0                 14999.0  142050.0  189700.0  248900.0  500001.0
37.0                 42100.0  118300.0  175900.0  267500.0  500001.0
38.0                 39400.0  106375.0  161600.0  248175.0  500001.0
39.0                 17500.0  108750.0  171500.0  273250.0  500001.0
40.0                 43000.0  112500.0  172200.0  247300.0  500001.0
41.0                 41800.0  100675.0  160800.0  247625.0  500001.0
42.0                 39400.0  120000.0  168350.0  242600.0  500001.0
43.0                 46600.0  105925.0  162500.0  253150.0  500001.0
44.0                 48300.0  112500.0  178750.0  295225.0  500001.0
45.0                 30000.0  140050.0  198400.0  280150.0  500001.0
46.0                 26900.0  110550.0  174250.0  246925.0  500001.0
47.0                 49600.0  108850.0  162900.0  235800.0  500001.0
48.0                 48600.0  104350.0  189700.0  324650.0  500001.0
49.0                 52000.0  118700.0  217300.0  283350.0  500001.0
50.0                 54200.0  125000.0  176650.0  316550.0  500001.0
51.0                 51900.0  123775.0  224550.0  322275.0  500001.0
52.0                 14999.0  162500.0  261200.0  386775.0  500001.0

[52 rows x 64 columns]

In [ ]:
housing_data.groupby("housing_median_age").get_group(15.0)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
14,-114.63,32.76,15.0,1448.0,378.0,949.0,300.0,0.8585,45000.0
23,-114.98,33.82,15.0,644.0,129.0,137.0,52.0,3.2097,71300.0
38,-115.48,32.68,15.0,3414.0,666.0,2097.0,622.0,2.3319,91200.0
79,-115.56,32.80,15.0,1171.0,328.0,1024.0,298.0,1.3882,69400.0
...,...,...,...,...,...,...,...,...,...
16836,-123.34,39.50,15.0,2342.0,535.0,1064.0,433.0,1.8967,96600.0
16852,-123.48,40.79,15.0,619.0,160.0,287.0,104.0,1.9107,79200.0
16858,-123.58,39.66,15.0,1839.0,489.0,887.0,332.0,2.2429,100000.0
16957,-124.16,41.74,15.0,2715.0,569.0,1532.0,530.0,2.1829,69500.0
16983,-124.19,41.78,15.0,3140.0,714.0,1645.0,640.0,1.6654,74600.0

In [ ]:
#get all data groups with indices of rows
#housing_data.groupby("housing_median_age").indices

#get a Series object for a certain group
#housing_data.groupby("housing_median_age").longitude.get_group(15.0)

One function we've been using heavily thus far is the value_counts() function. We can replicate what value_counts() does by doing the following:

In [ ]:
housing_data.groupby('housing_median_age').housing_median_age.count()

#other functions of describe() are also available
#This is a groupBy object NOT standard series or dataframe. Hence doesnot have 'loc'.
#To get a specifically we need get_groups which returns DataFrame object or Series object

housing_median_age
1.0        2
2.0       49
3.0       46
4.0      161
5.0      199
6.0      129
7.0      151
8.0      178
9.0      172
10.0     226
11.0     208
12.0     192
13.0     249
14.0     347
15.0     416
16.0     635
17.0     576
18.0     478
19.0     412
20.0     383
21.0     373
22.0     323
23.0     382
24.0     389
25.0     461
26.0     503
27.0     397
28.0     400
29.0     374
30.0     384
31.0     384
32.0     458
33.0     513
34.0     567
35.0     692
36.0     715
37.0     437
38.0     318
39.0     302
40.0     249
41.0     232
42.0     308
43.0     286
44.0     296
45.0     235
46.0     196
47.0     175
48.0     135
49.0     111
50.0     112
51.0      32
52.0    1052
Name: housing_median_age, dtype: int64

In [ ]:
housing_data.groupby("housing_median_age").apply(lambda df: df.loc[df.latitude >= 35])

                          longitude  latitude  housing_median_age  \
housing_median_age
1.0                10993    -120.93     37.65                 1.0
                   13708    -122.00     38.23                 1.0
2.0                10207    -119.88     36.83                 2.0
                   10952    -120.88     37.52                 2.0
                   11280    -121.13     38.66                 2.0
...                             ...       ...                 ...
52.0               16971    -124.17     40.80                52.0
                   16992    -124.23     40.81                52.0
                   16993    -124.23     40.54                52.0
                   16995    -124.26     40.58                52.0
                   16999    -124.35     40.54                52.0

                          total_rooms  total_bedrooms  population  households  \
housing_median_age
1.0                10993       2254.0           328.0       402.0       112.0
                   13708       2062.0           343.0       872.0       268.0
2.0                10207       4055.0           735.0      1730.0       654.0
                   10952       1871.0           409.0       707.0       256.0
                   11280      12360.0          1747.0      4438.0      1470.0
...                               ...             ...         ...         ...
52.0               16971       1557.0           344.0       758.0       319.0
                   16992       1112.0           209.0       544.0       172.0
                   16993       2694.0           453.0      1152.0       435.0
                   16995       2217.0           394.0       907.0       369.0
                   16999       1820.0           300.0       806.0       270.0

                          median_income  median_house_value
housing_median_age
1.0                10993         4.2500            189200.0
                   13708         5.2636            191300.0
2.0                10207         4.2132             96500.0
                   10952         2.6103            133600.0
                   11280         6.2503            222500.0
...                                 ...                 ...
52.0               16971         1.8529             62500.0
                   16992         3.3462             50800.0
                   16993         3.0806            106700.0
                   16995         2.3571            111400.0
                   16999         3.0147             94600.0

[7662 rows x 9 columns]

idxmax()  ==> returns index of maximum value

In [ ]:
# grouped by median_age, returns a DF with max no of rooms.

housing_data.groupby("housing_median_age").apply(lambda df: df.loc[df.total_rooms.idxmax()])

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
housing_median_age,,,,,,,,,
1.0,-120.93,37.65,1.0,2254.0,328.0,402.0,112.0,4.2500,189200.0
2.0,-121.35,38.72,2.0,21897.0,3513.0,8652.0,2873.0,4.5432,151300.0
3.0,-117.19,33.90,3.0,21060.0,3366.0,9623.0,2812.0,4.1890,143000.0
4.0,-117.74,33.89,4.0,37937.0,5471.0,16122.0,5189.0,7.4947,366300.0
5.0,-118.90,34.26,5.0,25187.0,3521.0,11956.0,3478.0,6.9712,321300.0
6.0,-117.58,33.85,6.0,16431.0,2640.0,8222.0,2553.0,5.2861,195100.0
7.0,-121.92,37.53,7.0,28258.0,3864.0,12203.0,3701.0,8.4045,451100.0
8.0,-117.78,34.03,8.0,32054.0,5290.0,15507.0,5050.0,6.0191,253900.0
9.0,-118.78,34.16,9.0,30405.0,4093.0,12873.0,3931.0,8.0137,399200.0
10.0,-117.59,34.13,10.0,20263.0,3915.0,9716.0,3744.0,3.8505,169600.0
11.0,-121.79,36.64,11.0,32627.0,6445.0,28566.0,6082.0,2.3087,118800.0
12.0,-118.46,34.40,12.0,25957.0,4798.0,10475.0,4490.0,4.5420,195300.0
13.0,-117.81,34.08,13.0,18448.0,2474.0,7775.0,2397.0,7.7876,348900.0
14.0,-117.42,33.35,14.0,25135.0,4819.0,35682.0,4769.0,2.5729,134400.0
15.0,-117.95,33.98,15.0,16042.0,2602.0,7732.0,2552.0,5.6716,330400.0
16.0,-117.88,33.96,16.0,19059.0,3079.0,10988.0,3061.0,5.5469,265200.0
17.0,-117.71,34.15,17.0,17715.0,2370.0,7665.0,2312.0,7.9068,349100.0
18.0,-119.05,35.33,18.0,12707.0,2685.0,7009.0,2552.0,2.9438,87200.0
19.0,-118.88,34.02,19.0,15990.0,2611.0,5175.0,2173.0,7.7848,500001.0
20.0,-118.52,34.17,20.0,17377.0,4457.0,7450.0,4204.0,3.2154,259600.0
21.0,-122.46,37.59,21.0,12902.0,2118.0,6160.0,2082.0,5.7653,325800.0
22.0,-118.42,33.75,22.0,17591.0,2604.0,6897.0,2492.0,8.2831,500001.0
23.0,-122.14,37.36,23.0,11294.0,1377.0,3840.0,1367.0,12.1387,500001.0
24.0,-117.84,33.82,24.0,10281.0,1689.0,4926.0,1629.0,4.7946,251200.0
25.0,-118.34,33.78,25.0,11016.0,1626.0,4168.0,1584.0,8.1782,500001.0
26.0,-116.97,32.78,26.0,8902.0,1413.0,3941.0,1387.0,4.7943,226900.0
27.0,-116.94,34.24,27.0,12342.0,2630.0,1300.0,566.0,1.9980,153500.0
28.0,-118.06,34.13,28.0,12139.0,2873.0,5359.0,2731.0,3.2920,227300.0
29.0,-120.59,34.70,29.0,17738.0,3114.0,12427.0,2826.0,2.7377,28300.0
30.0,-118.00,33.97,30.0,6540.0,991.0,3124.0,953.0,6.0663,372600.0
31.0,-118.48,34.14,31.0,9320.0,1143.0,2980.0,1109.0,10.3599,500001.0
32.0,-118.26,34.18,32.0,14556.0,2077.0,5459.0,2017.0,8.1657,500001.0
33.0,-122.57,38.02,33.0,9531.0,1487.0,3798.0,1409.0,5.6512,314000.0
34.0,-119.23,34.46,34.0,9280.0,1765.0,4514.0,1693.0,3.2026,227600.0
35.0,-121.94,38.27,35.0,10869.0,2226.0,9879.0,2152.0,2.5681,81300.0
36.0,-118.36,34.13,36.0,6871.0,1180.0,2216.0,1130.0,8.0499,495600.0
37.0,-118.53,34.09,37.0,5477.0,833.0,1925.0,757.0,8.1888,500001.0
38.0,-122.57,37.99,38.0,5587.0,996.0,2466.0,1027.0,4.1711,336900.0
39.0,-117.37,34.59,39.0,8193.0,1747.0,6852.0,1597.0,2.3832,35000.0
40.0,-122.61,37.99,40.0,7737.0,1488.0,3108.0,1349.0,4.4375,289600.0
41.0,-122.13,37.74,41.0,4400.0,666.0,1476.0,648.0,5.0000,248900.0
42.0,-122.48,37.85,42.0,6297.0,1307.0,2096.0,1205.0,6.4752,500001.0
43.0,-118.41,34.06,43.0,4994.0,1057.0,1830.0,969.0,5.5321,500001.0
44.0,-122.26,37.50,44.0,6983.0,1131.0,2818.0,1115.0,5.6271,374800.0
45.0,-118.35,34.07,45.0,7803.0,2154.0,3359.0,2041.0,3.3594,287500.0
46.0,-122.45,37.74,46.0,6429.0,1093.0,2535.0,1109.0,5.0887,335100.0
47.0,-122.57,37.97,47.0,5416.0,1115.0,2177.0,1027.0,3.5055,382100.0
48.0,-122.42,37.79,48.0,4506.0,1342.0,1980.0,1239.0,4.0156,500001.0
49.0,-117.10,32.77,49.0,4449.0,711.0,1606.0,709.0,5.7768,281600.0
50.0,-118.22,34.14,50.0,3657.0,708.0,1725.0,644.0,5.5456,258100.0
51.0,-121.49,38.55,51.0,4280.0,632.0,1486.0,621.0,5.0359,224100.0
52.0,-122.41,37.79,52.0,6016.0,2509.0,3436.0,2119.0,2.5166,275000.0

Another groupby() method worth mentioning is agg(), which lets you run a bunch of different functions on your DataFrame simultaneously. For example, we can generate a simple statistical summary of the dataset as follows:

In [ ]:
housing_data.groupby("housing_median_age").agg([len,min,max])

                   longitude                 latitude                \
                         len     min     max      len    min    max
housing_median_age
1.0                        2 -122.00 -120.93        2  37.65  38.23
2.0                       49 -122.51 -115.80       49  33.16  40.58
3.0                       46 -122.33 -115.60       46  32.87  38.77
4.0                      161 -122.72 -116.76      161  32.65  39.00
5.0                      199 -122.55 -115.55      199  32.55  40.60
6.0                      129 -122.76 -115.52      129  32.67  38.73
7.0                      151 -122.79 -116.31      151  32.54  40.60
8.0                      178 -123.00 -115.59      178  32.55  40.61
9.0                      172 -123.49 -116.22      172  32.56  40.62
10.0                     226 -123.40 -115.52      226  32.57  40.67
11.0                     208 -124.23 -115.51      208  32.58  41.75
12.0                     192 -124.09 -115.53      192  32.58  40.92
13.0                     249 -124.17 -115.50      249  32.58  41.32
14.0                     347 -124.05 -114.57      347  32.57  41.54
15.0                     416 -124.19 -114.31      416  32.55  41.78
16.0                     635 -124.00 -114.60      635  32.56  40.93
17.0                     576 -124.30 -114.56      576  32.56  41.84
18.0                     478 -124.10 -115.22      478  32.56  41.95
19.0                     412 -124.30 -114.47      412  32.59  41.86
20.0                     383 -124.21 -114.57      383  32.56  41.82
21.0                     373 -124.19 -114.60      373  32.57  41.95
22.0                     323 -124.14 -115.55      323  32.56  41.68
23.0                     382 -124.16 -115.37      382  32.56  41.70
24.0                     389 -124.15 -114.73      389  32.60  41.03
25.0                     461 -124.14 -114.58      461  32.57  41.86
26.0                     503 -124.17 -116.00      503  32.57  41.21
27.0                     397 -124.14 -115.54      397  32.58  40.98
28.0                     400 -124.22 -114.65      400  32.58  41.86
29.0                     374 -124.14 -114.58      374  32.58  41.36
30.0                     384 -124.19 -115.37      384  32.59  40.77
31.0                     384 -124.13 -114.61      384  32.63  41.50
32.0                     458 -124.25 -115.37      458  32.58  41.15
33.0                     513 -124.18 -115.46      513  32.60  41.74
34.0                     567 -124.18 -114.59      567  32.58  41.79
35.0                     692 -124.18 -115.38      692  32.67  40.88
36.0                     715 -124.27 -116.56      715  32.58  40.78
37.0                     437 -124.19 -115.60      437  32.62  40.79
38.0                     318 -124.14 -115.38      318  32.64  40.79
39.0                     302 -124.18 -117.07      302  32.69  40.79
40.0                     249 -122.82 -116.98      249  32.63  41.78
41.0                     232 -123.98 -114.59      232  32.68  40.88
42.0                     308 -124.10 -117.07      308  32.70  41.78
43.0                     286 -124.17 -117.01      286  32.66  40.79
44.0                     296 -124.09 -115.73      296  32.69  40.87
45.0                     235 -123.22 -117.12      235  32.69  41.43
46.0                     196 -124.16 -114.60      196  32.66  40.78
47.0                     175 -124.15 -117.10      175  32.68  40.87
48.0                     135 -122.97 -114.61      135  32.69  39.51
49.0                     111 -123.79 -117.10      111  32.68  39.44
50.0                     112 -124.16 -117.11      112  32.70  41.73
51.0                      32 -122.48 -117.15       32  32.72  40.17
52.0                    1052 -124.35 -116.88     1052  32.67  41.32

                   total_rooms                  total_bedrooms  ...  \
                           len     min      max            len  ...
housing_median_age                                              ...
1.0                          2  2062.0   2254.0              2  ...
2.0                         49    96.0  21897.0             49  ...
3.0                         46   475.0  21060.0             46  ...
4.0                        161     2.0  37937.0            161  ...
5.0                        199   111.0  25187.0            199  ...
6.0                        129    78.0  16431.0            129  ...
7.0                        151    77.0  28258.0            151  ...
8.0                        178    32.0  32054.0            178  ...
9.0                        172   254.0  30405.0            172  ...
10.0                       226    69.0  20263.0            226  ...
11.0                       208    72.0  32627.0            208  ...
12.0                       192    57.0  25957.0            192  ...
13.0                       249   221.0  18448.0            249  ...
14.0                       347   231.0  25135.0            347  ...
15.0                       416   208.0  16042.0            416  ...
16.0                       635    18.0  19059.0            635  ...
17.0                       576    89.0  17715.0            576  ...
18.0                       478   102.0  12707.0            478  ...
19.0                       412   121.0  15990.0            412  ...
20.0                       383    37.0  17377.0            383  ...
21.0                       373    44.0  12902.0            373  ...
22.0                       323   197.0  17591.0            323  ...
23.0                       382   149.0  11294.0            382  ...
24.0                       389    84.0  10281.0            389  ...
25.0                       461   182.0  11016.0            461  ...
26.0                       503    15.0   8902.0            503  ...
27.0                       397   210.0  12342.0            397  ...
28.0                       400    26.0  12139.0            400  ...
29.0                       374   124.0  17738.0            374  ...
30.0                       384    48.0   6540.0            384  ...
31.0                       384    40.0   9320.0            384  ...
32.0                       458   296.0  14556.0            458  ...
33.0                       513    32.0   9531.0            513  ...
34.0                       567    45.0   9280.0            567  ...
35.0                       692   167.0  10869.0            692  ...
36.0                       715    15.0   6871.0            715  ...
37.0                       437   102.0   5477.0            437  ...
38.0                       318    51.0   5587.0            318  ...
39.0                       302    47.0   8193.0            302  ...
40.0                       249    67.0   7737.0            249  ...
41.0                       232    80.0   4400.0            232  ...
42.0                       308   106.0   6297.0            308  ...
43.0                       286    88.0   4994.0            286  ...
44.0                       296   121.0   6983.0            296  ...
45.0                       235   121.0   7803.0            235  ...
46.0                       196    11.0   6429.0            196  ...
47.0                       175   463.0   5416.0            175  ...
48.0                       135   143.0   4506.0            135  ...
49.0                       111    98.0   4449.0            111  ...
50.0                       112   187.0   3657.0            112  ...
51.0                        32   175.0   4280.0             32  ...
52.0                      1052     8.0   6016.0           1052  ...

                   population households                median_income          \
                          max        len    min     max           len     min
housing_median_age
1.0                     872.0          2  112.0   268.0             2  4.2500
2.0                    8652.0         49   16.0  2873.0            49  1.9667
3.0                    9623.0         46  123.0  3112.0            46  2.1187
4.0                   16122.0        161    2.0  5189.0           161  0.5360
5.0                   11956.0        199   20.0  3886.0           199  0.7526
6.0                    8222.0        129   10.0  2553.0           129  0.8198
7.0                   15037.0        151   15.0  4072.0           151  1.2667
8.0                   15507.0        178    7.0  5050.0           178  0.8131
9.0                   12873.0        172   29.0  3931.0           172  0.8952
10.0                   9851.0        226   16.0  4616.0           226  0.4999
11.0                  28566.0        208   20.0  6082.0           208  0.9227
12.0                  12153.0        192   15.0  4490.0           192  0.8130
13.0                   7775.0        249   32.0  3232.0           249  0.8288
14.0                  35682.0        347   31.0  4769.0           347  1.1301
15.0                   8997.0        416   20.0  2789.0           416  0.4999
16.0                  10988.0        635    4.0  3595.0           635  0.4999
17.0                   7665.0        576   15.0  3176.0           576  0.6825
18.0                   7009.0        478   21.0  2552.0           478  0.8246
19.0                  11272.0        412   28.0  2905.0           412  0.7025
20.0                   7604.0        383    8.0  4204.0           383  0.8894
21.0                   7282.0        373   27.0  2839.0           373  0.8571
22.0                   9135.0        323   42.0  3522.0           323  0.7473
23.0                   6330.0        382   34.0  1924.0           382  0.4999
24.0                   7174.0        389    8.0  2565.0           389  0.6433
25.0                   7679.0        461   16.0  2902.0           461  0.7990
26.0                   8551.0        503    3.0  1822.0           503  0.5360
27.0                   5023.0        397   44.0  1763.0           397  0.8543
28.0                   6912.0        400    9.0  2731.0           400  0.4999
29.0                  12427.0        374   18.0  2826.0           374  0.7069
30.0                   4480.0        384   13.0  1536.0           384  0.7007
31.0                   5666.0        384    7.0  1755.0           384  0.7684
32.0                   5459.0        458   52.0  2017.0           458  0.8984
33.0                   5650.0        513   10.0  1537.0           513  0.5360
34.0                   5477.0        567   13.0  1789.0           567  0.8907
35.0                   9879.0        692   29.0  2769.0           692  0.7075
36.0                   4711.0        715    2.0  2323.0           715  0.4999
37.0                   3895.0        437   14.0  1874.0           437  0.6831
38.0                   3702.0        318   10.0  1253.0           318  0.7683
39.0                   6852.0        302   23.0  1597.0           302  0.7160
40.0                   4828.0        249   32.0  2028.0           249  0.9234
41.0                   3121.0        232   19.0  1030.0           232  0.9782
42.0                   6846.0        308   25.0  2156.0           308  0.8991
43.0                   3920.0        286   13.0  1429.0           286  0.4999
44.0                   3913.0        296   30.0  1383.0           296  1.1576
45.0                   4715.0        235   27.0  2041.0           235  0.9337
46.0                   7443.0        196    5.0  2406.0           196  0.4999
47.0                   3348.0        175   86.0  1106.0           175  1.1868
48.0                   3298.0        135   50.0  1239.0           135  0.8024
49.0                   2862.0        111   23.0  1009.0           111  0.7068
50.0                   3080.0        112   35.0   997.0           112  1.2041
51.0                   1795.0         32   55.0   621.0            32  1.2852
52.0                   4518.0       1052    1.0  2538.0          1052  0.4999

                            median_house_value
                        max                len       min       max
housing_median_age
1.0                  5.2636                  2  189200.0  191300.0
2.0                 10.1531                 49   47500.0  500001.0
3.0                 11.5199                 46   83200.0  500001.0
4.0                 13.4883                161   42500.0  500001.0
5.0                 12.6320                199   50000.0  500001.0
6.0                 13.0502                129   58000.0  500001.0
7.0                 13.8093                151   56200.0  500001.0
8.0                 14.9009                178   22500.0  500001.0
9.0                 10.8289                172   54200.0  500001.0
10.0                12.5420                226   53300.0  500001.0
11.0                13.1477                208   50400.0  500001.0
12.0                10.0760                192   40000.0  500001.0
13.0                 9.8346                249   43000.0  500001.0
14.0                15.0001                347   32900.0  500001.0
15.0                15.0001                416   32500.0  500001.0
16.0                12.0088                635   14999.0  500001.0
17.0                15.0001                576   27500.0  500001.0
18.0                11.6017                478   47500.0  500001.0
19.0                15.0000                412   14999.0  500001.0
20.0                12.2092                383   32500.0  500001.0
21.0                11.6833                373   25000.0  500001.0
22.0                11.2463                323   34400.0  500001.0
23.0                12.9792                382   30000.0  500001.0
24.0                14.5833                389   32500.0  500001.0
25.0                13.3913                461   45500.0  500001.0
26.0                15.0001                503   36600.0  500001.0
27.0                15.0001                397   40000.0  500001.0
28.0                14.4113                400   40900.0  500001.0
29.0                13.9470                374   28300.0  500001.0
30.0                12.4429                384   42500.0  500001.0
31.0                15.0001                384   34200.0  500001.0
32.0                15.0001                458   43100.0  500001.0
33.0                15.0001                513   22500.0  500001.0
34.0                15.0001                567   26600.0  500001.0
35.0                15.0001                692   39600.0  500001.0
36.0                15.0001                715   14999.0  500001.0
37.0                13.3670                437   42100.0  500001.0
38.0                12.7823                318   39400.0  500001.0
39.0                11.8603                302   17500.0  500001.0
40.0                15.0001                249   43000.0  500001.0
41.0                 8.8619                232   41800.0  500001.0
42.0                15.0001                308   39400.0  500001.0
43.0                15.0001                286   46600.0  500001.0
44.0                12.4237                296   48300.0  500001.0
45.0                15.0001                235   30000.0  500001.0
46.0                15.0001                196   26900.0  500001.0
47.0                 9.4590                175   49600.0  500001.0
48.0                15.0001                135   48600.0  500001.0
49.0                12.9591                111   52000.0  500001.0
50.0                13.3036                112   54200.0  500001.0
51.0                 9.3694                 32   51900.0  500001.0
52.0                15.0001               1052   14999.0  500001.0

[52 rows x 24 columns]

#Multi-indexes
---
---
In all of the examples we've seen thus far we've been working with DataFrame or Series objects with a single-label index. groupby() is slightly different in the fact that, depending on the operation we run, it will sometimes result in what is called a multi-index.

A multi-index differs from a regular index in that it has multiple levels. For example:

In [ ]:
housing_data.groupby(["longitude", "latitude"]).population.describe()

# Raw DF
# housing_data.groupby(["longitude", "latitude"]).apply(lambda df: df.loc[:,["longitude","housing_median_age","population"]])

                    count    mean  std     min     25%     50%     75%     max
longitude latitude
-124.35   40.54       1.0   806.0  NaN   806.0   806.0   806.0   806.0   806.0
-124.30   41.80       1.0  1298.0  NaN  1298.0  1298.0  1298.0  1298.0  1298.0
          41.84       1.0  1244.0  NaN  1244.0  1244.0  1244.0  1244.0  1244.0
-124.27   40.69       1.0  1194.0  NaN  1194.0  1194.0  1194.0  1194.0  1194.0
-124.26   40.58       1.0   907.0  NaN   907.0   907.0   907.0   907.0   907.0
...                   ...     ...  ...     ...     ...     ...     ...     ...
-114.57   33.57       1.0   624.0  NaN   624.0   624.0   624.0   624.0   624.0
          33.64       1.0   515.0  NaN   515.0   515.0   515.0   515.0   515.0
-114.56   33.69       1.0   333.0  NaN   333.0   333.0   333.0   333.0   333.0
-114.47   34.40       1.0  1129.0  NaN  1129.0  1129.0  1129.0  1129.0  1129.0
-114.31   34.19       1.0  1015.0  NaN  1015.0  1015.0  1015.0  1015.0  1015.0

[11054 rows x 8 columns]

Multi-indices have several methods for dealing with their tiered structure which are absent for single-level indices. They also require two levels of labels to retrieve a value. Dealing with multi-index output is a common "gotcha" for users new to pandas.

However, in general the multi-index method you will use most often is the one for converting back to a regular index, the reset_index() method:

In [ ]:
housing_data.groupby(["longitude", "latitude"]).population.describe().reset_index()

,longitude,latitude,count,mean,std,min,25%,50%,75%,max
0,-124.35,40.54,1.0,806.0,NaN,806.0,806.0,806.0,806.0,806.0
1,-124.30,41.80,1.0,1298.0,NaN,1298.0,1298.0,1298.0,1298.0,1298.0
2,-124.30,41.84,1.0,1244.0,NaN,1244.0,1244.0,1244.0,1244.0,1244.0
3,-124.27,40.69,1.0,1194.0,NaN,1194.0,1194.0,1194.0,1194.0,1194.0
4,-124.26,40.58,1.0,907.0,NaN,907.0,907.0,907.0,907.0,907.0
...,...,...,...,...,...,...,...,...,...,...
11049,-114.57,33.57,1.0,624.0,NaN,624.0,624.0,624.0,624.0,624.0
11050,-114.57,33.64,1.0,515.0,NaN,515.0,515.0,515.0,515.0,515.0
11051,-114.56,33.69,1.0,333.0,NaN,333.0,333.0,333.0,333.0,333.0
11052,-114.47,34.40,1.0,1129.0,NaN,1129.0,1129.0,1129.0,1129.0,1129.0
11053,-114.31,34.19,1.0,1015.0,NaN,1015.0,1015.0,1015.0,1015.0,1015.0

#Sorting
---
---

Once the data is single indexed it is easier to find it among a dataframe. To get data sorted we can sort it ourselves by using **sort_values()** methord.

In [ ]:
located_housing_data = housing_data.groupby(["longitude", "latitude"]).describe()

SERIES/DF.sort_value(by="key", ascending=True)

→ key = single , list (if multiple sorting citereon), tuple (if inheriting columns)

In [ ]:
# reset_index() then sort housing median age by count
#located_housing_data.reset_index().housing_median_age.sort_values(by="count")

# sort housing median age by count
#located_housing_data.housing_median_age.sort_values(by="count")

#decending
located_housing_data.housing_median_age.sort_values(by="count", ascending=False)

                    count       mean        std   min    25%   50%   75%   max
longitude latitude
-122.41   37.80      14.0  50.428571   5.879747  30.0  52.00  52.0  52.0  52.0
-122.44   37.78      10.0  44.200000  12.299955  16.0  40.25  52.0  52.0  52.0
-122.43   37.75      10.0  50.800000   3.794733  40.0  52.00  52.0  52.0  52.0
-122.44   37.79      10.0  52.000000   0.000000  52.0  52.00  52.0  52.0  52.0
-122.41   37.75       9.0  47.222222  14.333333   9.0  52.00  52.0  52.0  52.0
...                   ...        ...        ...   ...    ...   ...   ...   ...
-120.71   38.85       1.0   8.000000        NaN   8.0   8.00   8.0   8.0   8.0
          40.13       1.0  19.000000        NaN  19.0  19.00  19.0  19.0  19.0
          40.36       1.0  19.000000        NaN  19.0  19.00  19.0  19.0  19.0
-120.70   35.28       1.0  14.000000        NaN  14.0  14.00  14.0  14.0  14.0
-114.31   34.19       1.0  15.000000        NaN  15.0  15.00  15.0  15.0  15.0

[11054 rows x 8 columns]

.sort_index() ==> resets according to index (default)

#Dtypes
---
---
The data type for a column in a DataFrame or a Series is known as the dtype.

You can use the dtype property to grab the type of a specific column.
>>DF.dtypes

>>SERIES.dtype

In [ ]:
housing_data.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [ ]:
housing_data.population.dtype

dtype('float64')

Data types tell us something about how pandas is storing the data internally. **float64** means that it's using a 64-bit floating point number; **int64** means a similarly sized integer instead, and so on.

One peculiarity to keep in mind (and on display very clearly here) is that columns consisting entirely of **strings** do not get their own type; they are instead given the **object** type.

It's possible to convert a column of one type into another wherever such a conversion makes sense by using the **`astype()`** function. For example, we may transform the points column from its existing int64 data type into a **float64** data type:

In [ ]:
housing_data.population.astype('int64')

0        1015
1        1129
2         333
3         515
4         624
         ...
16995     907
16996    1194
16997    1244
16998    1298
16999     806
Name: population, Length: 17000, dtype: int64

A DataFrame or Series index has its own dtype, too:

In [ ]:
housing_data.index.dtype

dtype('int64')

##Missing data
Entries missing values are given the value **NaN**, short for "Not a Number". For technical reasons these NaN values are always of the float64 dtype. 

Pandas provides some methods specific to missing data. To select NaN entries you can use `pd.isnull()` (or its companion `pd.notnull()`).

Replacing missing values is a common operation. Pandas provides a really handy method for this problem: fillna(). 4

`fillna()` provides a few different strategies for mitigating such data. For example, we can simply replace each NaN with an "Unknown":

>DF/SERIES.`fillna`("Replacing TEXT")

Or we could fill each missing value with the first non-null value that appears sometime after the given record in the database. This is known as the backfill strategy.

>DF/SERIES.`bfill`(inplace=False)

##Replace

Alternatively, we may have a non-null value that we would like to replace.

>DF/SERIES.`replace`("to_replace", "replaced_with")

#Renaming
---
---
The first function we'll introduce here is `rename()`, which lets you change index names and/or column names. 

`rename()` lets you rename index or column values by specifying a **index** or **column** keyword parameter, respectively. It supports a variety of input formats, but usually a Python dictionary is the most convenient. Here is an example using it to rename some elements of the index.

In [ ]:
housing_data.rename(index={0: "first_entry", 1: "second_entry"})

#You'll probably rename columns very often, but rename index values very rarely. For that, set_index() is usually more convenient.

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
first_entry,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
second_entry,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [ ]:
housing_data.rename(columns={"population":"number_of_people"})

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,number_of_people,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

rename_axis() 

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename_axis.html

#Combining
---
---
When performing operations on a dataset, we will sometimes need to combine different DataFrames and/or Series in non-trivial ways. Pandas has three core methods for doing this. In order of increasing complexity, these are `concat()`, `join()`, and `merge()`. Most of what merge() can do can also be done more simply with join(), so we will omit it and focus on the first two functions here.

The simplest combining method is **concat()**. Given a list of elements, this function will smush those elements together along an axis.

This is useful when we have data in different DataFrame or Series objects but having the same fields (columns).

In [ ]:
housing_training_data = pd.read_csv("/content/sample_data/california_housing_train.csv")
housing_test_data = pd.read_csv("/content/sample_data/california_housing_test.csv")

pd.concat([housing_training_data,housing_test_data])

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

join() lets you combine different DataFrame objects which have an index in common.

In [ ]:
left = housing_training_data.set_index(["longitude","latitude"])
right = housing_test_data.set_index(["longitude","latitude"])

left.join(right, lsuffix="_train", rsuffix="_test")

                    housing_median_age_train  total_rooms_train  \
longitude latitude
-124.35   40.54                         52.0             1820.0
-124.30   41.80                         19.0             2672.0
          41.84                         17.0             2677.0
-124.27   40.69                         36.0             2349.0
-124.26   40.58                         52.0             2217.0
...                                      ...                ...
-114.57   33.57                         20.0             1454.0
          33.64                         14.0             1501.0
-114.56   33.69                         17.0              720.0
-114.47   34.40                         19.0             7650.0
-114.31   34.19                         15.0             5612.0

                    total_bedrooms_train  population_train  households_train  \
longitude latitude
-124.35   40.54                    300.0             806.0             270.0
-124.30   41.80                    552.0            1298.0             478.0
          41.84                    531.0            1244.0             456.0
-124.27   40.69                    528.0            1194.0             465.0
-124.26   40.58                    394.0             907.0             369.0
...                                  ...               ...               ...
-114.57   33.57                    326.0             624.0             262.0
          33.64                    337.0             515.0             226.0
-114.56   33.69                    174.0             333.0             117.0
-114.47   34.40                   1901.0            1129.0             463.0
-114.31   34.19                   1283.0            1015.0             472.0

                    median_income_train  median_house_value_train  \
longitude latitude
-124.35   40.54                  3.0147                   94600.0
-124.30   41.80                  1.9797                   85800.0
          41.84                  3.0313                  103600.0
-124.27   40.69                  2.5179                   79000.0
-124.26   40.58                  2.3571                  111400.0
...                                 ...                       ...
-114.57   33.57                  1.9250                   65500.0
          33.64                  3.1917                   73400.0
-114.56   33.69                  1.6509                   85700.0
-114.47   34.40                  1.8200                   80100.0
-114.31   34.19                  1.4936                   66900.0

                    housing_median_age_test  total_rooms_test  \
longitude latitude
-124.35   40.54                         NaN               NaN
-124.30   41.80                         NaN               NaN
          41.84                         NaN               NaN
-124.27   40.69                         NaN               NaN
-124.26   40.58                         NaN               NaN
...                                     ...               ...
-114.57   33.57                         NaN               NaN
          33.64                         NaN               NaN
-114.56   33.69                         NaN               NaN
-114.47   34.40                         NaN               NaN
-114.31   34.19                         NaN               NaN

                    total_bedrooms_test  population_test  households_test  \
longitude latitude
-124.35   40.54                     NaN              NaN              NaN
-124.30   41.80                     NaN              NaN              NaN
          41.84                     NaN              NaN              NaN
-124.27   40.69                     NaN              NaN              NaN
-124.26   40.58                     NaN              NaN              NaN
...                                 ...              ...              ...
-114.57   33.57                     NaN              NaN              NaN
          33.64                     NaN              NaN              NaN
-114.56   33.69                     NaN              NaN              NaN
-114.47   34.40                     NaN              NaN              NaN
-114.31   34.19                     NaN              NaN              NaN

                    median_income_test  median_house_value_test
longitude latitude
-124.35   40.54                    NaN                      NaN
-124.30   41.80                    NaN                      NaN
          41.84                    NaN                      NaN
-124.27   40.69                    NaN                      NaN
-124.26   40.58                    NaN                      NaN
...                                ...                      ...
-114.57   33.57                    NaN                      NaN
          33.64                    NaN                      NaN
-114.56   33.69                    NaN                      NaN
-114.47   34.40                    NaN                      NaN
-114.31   34.19                    NaN                      NaN

[17543 rows x 14 columns]

Must Look:

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html